footer {
  nav {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    a {
        padding-right: 3%;
    }
  }
}
