.sign-up {
  position: absolute;
  width: 448px;
  height: 56px;
  right: 230px;
  bottom: 455px;
  border-radius: 4px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  background: #111125;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: #ffffff;
    color: black;
  }
}
.sign-in {
  position: absolute;
  height: 19px;
  right: 350px;
  bottom: 390px;
}
header {
  img {
    margin-left: 240px;
    position: absolute;
    z-index: -1;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;
  }
  h1 {
    font-size: 177px;
    text-align: center;
    position: absolute;
    width: 1436px;
    height: 165px;
    top: 858px;
  }
}
section {
  background-color: #111125;
  position: absolute;
  top: 106%;
  width: 75.67%;
}
.section-div {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
  .Row-of-sections {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 177px;
        height: 376px;
      }

      h2 {
        width: 84px;
        height: 65px;
        font-size: 48px;
        line-height: 65px;
        display: flex;
        align-items: center;
        text-align: center;
      }
      p {
        font-size: 24px;
        line-height: 33px;
        display: flex;
        align-items: center;
        text-align: center;
      }
    }
  }
}
